@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'mohave', sans-serif;
}

$blackCurrant:#2f273a;
$LightWisteria: #D0A9DB;
$TrueV: #655AD9;
$BlueBell: #999CCA ;

body {
    min-height: 100vh;
    background-color: $blackCurrant;
}

header {
    background-color: $BlueBell;
    width: 100vw;
    height: 10vh;
    h1 {
        text-align: center;
        padding-top: 1.5rem;
    }
}

.link-container {
    width: 168px;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    .link-div {

        height: 30px;
        background-color: $TrueV;
        width: 144px;
        padding: 10px 20px;
        border-radius: 6px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
        border: 2px solid $TrueV;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div {
            height: 30px;
            width: 80%;
            // background-color: orange;
        }
        a,
        a:visited {
                text-decoration: none;
                font-size: 16pt;
                color: white;
                margin-top: 4px;
                display: block;
            }
        .img {
            // background-color: aqua;
            width: 30px;
            height: 30px;
            border: none;
        }
    }
    .link-div:hover {
        border: 2px solid $LightWisteria;
    }
}
footer {
    background-color: $BlueBell;
    width: 100vw;
    height: 10vh;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    h1 {
        text-align: center;
        padding-top: 1.5rem;
    }
}
@media only screen and (min-width: 600px) {
   .link-container {
    width: 372px;
        .link-div {
            width: 288px;
            padding: 20px 40px;
        }
   }
}